*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

main{
    height: 300vh;
    background-color: black;
}

#one{
    height: 70vh;
    width: 100%;
    position: relative;
   
    img {
        // background
        height: 100%;
        width: 100%;
        max-width: 100%;
        background-color: black;
        @media screen and (max-width: 900px) {
            display: none;
        }
    }
    article{
        color: white;
        width: 50vw;
        height: 40vh;
        position: absolute;
        top: 32%;
        left: 23%;

        .centralize{
            width: 100%;
            display: flex;
            justify-content: center;
        }
        .centralizeSub{
            width: 35vw;
            @media screen and (max-width:900px){
                width: 70vw;
            }
        }
        #firstSubSection{
            // margin-left: 10%;
            width: inherit;
            font-size:320%;
            margin-bottom: 6%;
            font-weight: 700;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            @media screen and (max-width:1700px) {
                font-size: 200%;
                // margin-left: 25%;
            }
            @media screen and (max-width:1600px) {
                font-size: 200%;
                // margin-left: 12%;
            }
            @media screen and (max-width:950px) {
                font-size: 150%;
                margin-left: 1%;
            }
            
            #switchText:before{
                color: white;
                content: 'Workflows';
                animation-name: switcher;
                animation-duration: 25s;
                animation-iteration-count: infinite;
                animation-timing-function: ease;
                animation-fill-mode: forwards;
                // transform: translateY(2%);
                // transition-delay:5s ;


            }
        }
        #SecondSubSection{
            margin-top: 5%;
            margin-left: 5%;
            margin-bottom: 5%;
            @media screen {
                
            }
        }
        
        #ThirdSubSection{
            height: 20vh;
            display: flex;
            justify-content: center;
            align-items: center;
            @media screen and (max-width:1600px){
                margin-top: 10%;
                }
                @media screen and (max-width:1000px){
                    width: 100%;
                    }

            .buttonSection{
                width: 22vw;
                // display: flex;
                justify-content: space-between;
                @media screen and (max-width:1600px) {
                    width: 30vw;
                }
                @media screen and (max-width:1150px) {
                    width: 30vw;
                }
                @media screen and (max-width:1100px) {
                    width: 100vw;
                }


                button{
                    // display: block;
                    padding: 5% 40;

                    @media screen and (max-width:1150px) {
                        padding: 5% 10%;
                    }

                    @media screen and (max-width:1150px) {
                        padding: 3% 7%;
                    }
                    @media screen and (max-width:950px) {
                        padding: 7% 15%;
                    }
                }
            }
        }
    }
}
.NavZero{
    width: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
    height: 90%;
}
#zero {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: rgba(15, 15, 15, 0.932);
    .NavOne , .NavTwo{
        width: 50%;
        height: 90%;
        background-position: center;
    }
    .NavOne{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width:1733px) {
            display:none
        }
        a{
            text-decoration: none;
            color: white;
        }
        img{
            height: 5vh;
            background-color: black;
        }
        .pluralSightLogo{
            display: flex;
            justify-content: center;
            height: 7vh;
            width: 25%;
            background-image: url("/assets/PS_logo_F-11.png");
            background-repeat: no-repeat;
            background-size: 100%;
            object-fit:contain;
            background-position: 80 25%;
        }
    }
    .NavTwo{
        width: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width:1450px) {
            display: none;
        }

        .NavTwoSubTwo{
            width: 80%;
            display: flex;
            justify-content: space-around;
        }
        .one{
            background-color: transparent;
            color: white;
            border: none;
        }
        .second{
            padding: 15 30;
            border:1px solid white;
            background-color: transparent;
            color: white;
            font-weight: 700;
            box-sizing:border-box;
        }
    }

}

.view{
    background-image: linear-gradient(to right,rgba(219, 109, 19, 0.932), rgb(238, 20, 122));
    border: none;
    color: white;
    font-weight:bolder;
}
.transparent{
    font-weight:bolder;
    // font-size: large;
    color: white;
    border: 1px solid white;
    margin-top: 5%;
    margin-bottom: 15%;
    background-color: transparent;
}
#FourthSubSection{
    @media screen and (max-width:900px){
        display: none;
    }
}
#FifthSubSection{
    margin-top: 3vh;
    margin-right: 20%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    // align-items: center;
    div{
        height: 2vh;
        // width: 10%;
    }
    #adp{
        height: 4vh;
    }
    #fujitsu{
        height: 4vh;
    }
    #nasdaq{
        height: 3vh;
    }
    @media screen and (max-width:1450px) {
        display: none;
    }
}

@keyframes switcher {
    0%{ 
        content: "teams";
    }
    10%{ 
        content: "Skills";
    }

    20%{ 
        content: "Processes";
    }
    30%{ 
        content: "Workflows";
    }
    40%{
        
content: "Products";
    }
    50%{ 
        content: "teams";
    }
    60%{ 
        content: "Skills";
    }

    70%{ 
        content: "Processes";
    }
    80%{ 
        content: "Workflows";
    }
    90%{
         
content: "Products";
    }
    100%{ 
        content: "Skills";
    }
}

@media screen and (max-width:1900){
    .NavTwoSubTwo{
        margin-top: 20%;
        color: green;
    }
}
@media screen and (max-width:900){
    #backgroundImage{
display: none !important;
    }
}
@media screen and (max-width:800){
    body{
       text-align: center;
    }
}